/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

main {
    flex: 1;
}
#hero,
#acerca-de,
#productos,
#contacto,
#inicio {
  scroll-margin-top: 80px;
}
/* Header personalizado sobre Bootstrap */
/* .header {
    background-color: #606c38 !important;
  } */

/* .navbar .nav-link {
    color: #fefae0 !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #ffcc00 !important;
}

.navbar-brand {
    color: #fefae0 !important;
} */

/* Article */
.article {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.article_img {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.article_text {
    text-align: justify;
    line-height: 1.6;
}

/* Botones personalizados */
.btn {
    padding: 5px 30px;
    margin: 20px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.rojo:active,
.rojo:hover {
    background-color: red !important;
    color: #fff !important;
}

.azul:active,
.azul:hover {
    background-color: blue !important;
    color: #fff !important;
}

.verde:active,
.verde:hover {
    background-color: green !important;
    color: #fff !important;
}

/* Formulario */
.formulario {
    background-color: #fefae0;
    border: 1px solid #aaa;
    border-radius: 10px;
}

/* Footer */
footer {
    color: #fefae0;
}


footer .redes img {
    width: 20px;
    height: 20px;
}

/* Cards */
.card-img-top {
    object-fit: contain;
    height: 150px;
}

/* Carousel */
.carousel-item img {
    height: 300px;
    object-fit: cover;
}

/* Responsivo */
@media (min-width: 768px) {
    .article_img {
        width: 100%;
        height: auto;
    }

    .article_text {
        font-size: 1.1rem;
        padding: 10px;
    }

    .article_btn_container {
        justify-content: center;
    }

    footer {
        height: auto;
    }
}