@use "../abstracts/variables" as *;

footer {
  background-color: $color-warning;
  text-align: center;
  padding: 1rem 0;

  p { margin: 0; color: $body-bg; }

  .redes {
    display: flex;
    justify-content: center;
    gap: 1rem;

    img { width: 20px; height: 20px; }
  }
}